<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <add key="LogFileDirectory" value="c:\temp\" />
    
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=model;Connect Timeout=50;Persist Security Info=True" />
  </connectionStrings>
</configuration>